# Preprocessing location
Dataset downloaded from Kaggle

import dataset

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

filename = "Location446-30cls-5k.lrn.csv"
df_location  = "../../../data/raw/location/"

# https://www.v7labs.com/blog/train-validation-test-set
train_eval = pd.read_csv("../../../data/raw/location/Location446-30cls-5k.lrn.csv", index_col=0)
train, eval = train_test_split(train_eval, test_size=0.2)
print("\ntrain.info():")
train.info()
# train.head()
print("\neval.info():")
eval.info()
# eval.head()

train.info():
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3200 entries, 1091 to 645
Columns: 447 entries, class to 446
dtypes: int64(447)
memory usage: 10.9 MB

eval.info():
<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 2428 to 3865
Columns: 447 entries, class to 446
dtypes: int64(447)
memory usage: 2.7 MB

Load test data

In [10]:
test = pd.read_csv("../../../data/raw/location/Location446-30cls-5k.tes.csv", index_col=0)
test.info()
test.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1009 entries, 4000 to 5008
Columns: 446 entries, 1 to 446
dtypes: int64(446)
memory usage: 3.4 MB

,1,2,3,4,5,6,7,8,9,10,...,437,438,439,440,441,442,443,444,445,446
ID,,,,,,,,,,,,,,,,,,,,,
4000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4001,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
4002,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4003,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

## Export datasets

In [16]:
train.to_csv("../../../data/preprocessed/location/train", sep='\t')
eval.to_csv("../../../data/preprocessed/location/eval", sep='\t')
test.to_csv("../../../data/preprocessed/location/test", sep='\t')